
div
  a.map-banner(
    href='https://osu.ppy.sh/beatmapsets/' + game.beatmap.beatmapSetId + '#' + mode + '/' + game.beatmap.beatmapId,
    style='background-image: url("https://assets.ppy.sh/beatmaps/' + game.beatmap.beatmapSetId + '/covers/cover.jpg")'
  )
    .map-banner-title.font-bold.text-2xl.text-ellipsis.overflow-hidden.filter.drop-shadow-sm= game.beatmap.title
    .font-bold.text-sm.text-ellipsis.overflow-hidden.filter.drop-shadow-sm= game.beatmap.artist
    .font-bold.text-sm.text-ellipsis.overflow-hidden.filter.drop-shadow-sm= game.beatmap.version
    .font-bold.text-xs.text-ellipsis.overflow-hidden.filter.drop-shadow-sm mapset by #{game.beatmap.creator}

  table.leaderboard-table
    tbody
      each score, index in game.scores
        tr
          td.text-right.opacity-50.pr-2.w-0 ##{index + 1}
          td.text-left.pl-2 #{score.player.username} #[span.rank-tag ##{score.player.rank}]
          td.text-right #{formatNumber(score.score)}